<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>(주)아트젠</title>
  <script defer src="../js/m-menu.js"></script>
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/header_footer.css">
  <link rel="stylesheet" href="../css/fair-history.css">
</head>
<body>
  <div class="header">
    <a href="">
      <div class="header-logo">
      </div>
    </a>
    <div class="header-menu">
      <div class="gnb">
        <div class="mainmenu"><a href="">회사소개</a>
          <ul class="submenu">
            <li><a href="">회사소개</a></li>
            <li><a href="">사회공헌</a></li>
          </ul>
        </div>
      </div>
      <div class="gnb">
        <div class="mainmenu"><a href="">입주박람회</a>
          <ul class="submenu">
            <li class="display-none"><a href="">입주박람회</a></li>
            <li><a href="">주관이력</a></li>
            <li><a href="">박람회 사진</a></li>
          </ul>
        </div>
      </div>
      <div class="gnb">
        <div class="mainmenu"><a href="">협력업체</a>
          <ul class="submenu">
            <li><a href="">협력사 조회</a></li>
          </ul>
        </div>
      </div>
      <div class="gnb">
        <div class="mainmenu"><a href="">문의하기</a>
          <ul class="submenu">
            <li><a href="">협력업체문의</a></li>
            <li><a href="">입주박람회문의</a></li>
            <li><a href="">A/S접수</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="m-menu">
      <div class="m-menu-btn">
        <button class="menubutton"></button>
      </div>
    </div>
  </div>

  <div class="m-menu">
    <div class="m-menu-open">
      <div class="header">
        <div class="header-logo">
        </div>
          <div class="m-menu-close">
            <button class="menubutton"></button>
          </div>
      </div>
      <div class="m-gnb">
        <button class="accordion m-mainmenu">회사소개</button>
        <div class="panel m-submenu">
          <div><a href="">· 회사소개</a></div>
          <div><a href="">· 사회공헌</a></div>
        </div>
        <button class="accordion m-mainmenu">주관이력</button>
        <div class="panel m-submenu">
          <div class="display-none"><a href="">· 입주박람회</a></div>
          <div><a href="">· 주관이력</a></div>
          <div><a href="">· 박람회 사진</a></div>
        </div>
        <button class="accordion m-mainmenu">협력사조회</button>
        <div class="panel m-submenu">
          <div><a href="">· 협력사 조회</a></div>
        </div>
        <button class="accordion m-mainmenu">문의하기</button>
        <div class="panel m-submenu">
          <div><a href="">· 협력업체문의</a></div>
          <div><a href="">· 입주박람회문의</a></div>
          <div><a href="">· A/S접수</a></div>
        </div>
      </div>
      <div class="m-back"><img src="../img -menu-background.png" alt=""></div>
    </div>
  </div>
  <div class="sub-top">
    <h1 class="sub-top-title">입주박람회</h1>
    <p class="sub-top-title-explain">아트젠의 입주박람회를 소개합니다.</p>  
    <div class="sub-top-visual">
      <div class="visual-title-wrap">
        <p class="visual-title">입주박람회<p>
        <p class="visual-explain">고객과의 약속을 위해 최선을 다해 뛰겠습니다.</p>
      </div>
    </div>
  </div>
  <div class="contents1">
    <div class="sub-contents-title">
      <div class="title-decoration"></div>
      <p class="sub-title">주관이력</p>
      <p class="sub-title-explain">아트젠의 주관이력을 소개합니다.</p>
    </div>
  </div>
  <div class="history-filter">
    <div class="filter-btn">
      <input type="radio" name="history" id="all" checked>
      <label for="all">전체</label>
    </div>
    <div class="filter-btn">
      <input type="radio" name="history" id="filterOne">
      <label for="filterOne">2022</label>
    </div>
    <div class="filter-btn">
      <input type="radio" name="history" id="filterTwo">
      <label for="filterTwo">2021</label>
    </div>
    <div class="filter-btn">
      <input type="radio" name="history" id="filterThree">
      <label for="filterThree">2020</label>
    </div>
    <div class="filter-btn">
      <input type="radio" name="history" id="filterFour">
      <label for="filterFour">2019</label>
    </div>
    <div class="filter-btn">
      <input type="radio" name="history" id="filterFive">
      <label for="filterFive">2018</label>
    </div>
    <div class="filter-btn">
      <input type="radio" name="history" id="filterSix">
      <label for="filterSix">2017</label>
    </div>
    <div class="filter-btn">
      <input type="radio" name="history" id="filterSeven">
      <label for="filterSeven">2016</label>
    </div>
    <div class="filter-btn">
      <input type="radio" name="history" id="filterEight">
      <label for="filterEight">~2015</label>
    </div>

  </div>
  <div class="fair">
    <div class="fair-wrap">
      <a href=""><div class="fair-img"></div></a>
      <div class="fair-info">
        <div class="fair-year">2022</div>
        <div class="fair-title"><a href="">대전 도마 e편한세상 포레나</a></div>
        <div class="fair-date"><a href="">2022-01-01</a></div>
      </div>
    </div>
    <div class="fair-wrap">
      <a href=""><div class="fair-img"></div></a>
      <div class="fair-info">
        <div class="fair-year">2022</div>
        <div class="fair-title"><a href="">대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나닌이</a></div>
        <div class="fair-date"><a href="">2022-01-01</a></div>
      </div>
    </div>
    <div class="fair-wrap">
      <a href=""><div class="fair-img"></div></a>
      <div class="fair-info">
        <div class="fair-year">2022</div>
        <div class="fair-title"><a href="">대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나나으으아</a></div>
        <div class="fair-date"><a href="">2022-01-01</a></div>
      </div>
    </div>
    <div class="fair-wrap">
      <a href=""><div class="fair-img"></div></a>
      <div class="fair-info">
        <div class="fair-year">2022</div>
        <div class="fair-title"><a href="">대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나</a></div>
        <div class="fair-date"><a href="">2022-01-01</a></div>
      </div>
    </div>
    <div class="fair-wrap">
      <a href=""><div class="fair-img"></div></a>
      <div class="fair-info">
        <div class="fair-year">2022</div>
        <div class="fair-title"><a href="">대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나</a></div>
        <div class="fair-date"><a href="">2022-01-01</a></div>
      </div>
    </div>
    <div class="fair-wrap">
      <a href=""><div class="fair-img"></div></a>
      <div class="fair-info">
        <div class="fair-year">2022</div>
        <div class="fair-title"><a href="">대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나</a></div>
        <div class="fair-date"><a href="">2022-01-01</a></div>
      </div>
    </div>
    <div class="fair-wrap">
      <a href=""><div class="fair-img"></div></a>
      <div class="fair-info">
        <div class="fair-year">2022</div>
        <div class="fair-title"><a href="">대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나</a></div>
        <div class="fair-date"><a href="">2022-01-01</a></div>
      </div>
    </div>
    <div class="fair-wrap">
      <a href=""><div class="fair-img"></div></a>
      <div class="fair-info">
        <div class="fair-year">2022</div>
        <div class="fair-title"><a href="">대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나</a></div>
        <div class="fair-date"><a href="">2022-01-01</a></div>
      </div>
    </div>
    <div class="fair-wrap">
      <a href=""><div class="fair-img"></div></a>
      <div class="fair-info">
        <div class="fair-year">2022</div>
        <div class="fair-title"><a href="">대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나대전 도마 e편한세상 포레나</a></div>
        <div class="fair-date"><a href="">2022-01-01</a></div>
      </div>
    </div>
  </div>
  <div class="form-button">
    <button>글쓰기</button>
  </div>
  <ul class="borad-bottom-02">
    <li><a href="#" class="first">처음</a></li>
    <li><a href="#" class="prev">이전</a></li>
    <li><a href="#" class="num active">1</a></li>
    <li><a href="#" class="num">2</a></li>
    <li class="display-none"><a href="#" class="num">3</a></li>
    <li class="display-none"><a href="#" class="num">4</a></li>
    <li class="display-none"><a href="#" class="num">5</a></li>
    <li><a href="#" class="next">다음</a></li>
    <li><a href="#" class="last">마지막</a></li>
  </ul>

  <div class="m-viewmore">
    <button class="mobile-viewmore">
      더보기
    </button>
  </div>

  <div class="footer">
    <div class="footer-top">
      <div class="logo"></div>
      <div>
        <a href="">개인정보처리방침</a>
        <a href="">이용약관</a>
      </div>
    </div>
    <div class="footer-bottom">
      <div>
        <div>(34161)  대전광역시 유성구 복용북로 33번길 1  TEL : 042-825-6490</div>
        <div>대표 이도엽  사업자등록번호 193-88-01901</div>
      </div>
      <div>Copyright ⓒ 2022 ARTZEN All Rights Reserved.</div>
    </div>
  </div>
</body>
</html>