<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(주)아트젠</title>
    <link rel="stylesheet" href="../css/common2.css">
    <link rel="stylesheet" href="../css/header_footer.css">
    <link rel="stylesheet" href="../css/sub-top.css">
    <link rel="stylesheet" href="../css/cooperator.css">
</head>
<body>
    <div class="header">
          <div class="header-logo">
          </div>
          <div class="header-menu">
            <div class="gnb">
              <div class="mainmenu"><a href="">회사소개
                <ul class="submenu">
                  <li><a href="">회사소개
                  <li><a href="">사회공헌
                </ul>
              </div>
            </div>
            <div class="gnb">
              <div class="mainmenu"><a href="">입주박람회
                <ul class="submenu">
                  <li><a href="">입주박람회
                  <li><a href="">주관이력
                  <li><a href="">박람회 사진
                </ul>
              </div>
            </div>
            <div class="gnb">
              <div class="mainmenu"><a href="">협력업체
                <ul class="submenu">
                  <li><a href="">협력사 조회
                </ul>
              </div>
            </div>
            <div class="gnb">
              <div class="mainmenu"><a href="">문의하기
                <ul class="submenu">
                  <li><a href="">협력업체문의
                  <li><a href="">입주박람회문의
                  <li><a href="">A/S접수
                </ul>
              </div>
      
            </div>
          </div>
          <div class="m-menu">
            <div class="m-menu-btn">
              <button class="menubutton"></button>
            </div>
          </div>
      </div>
      <div class="m-menu">
          <div class="m-menu-open">
              <div class="header">
              <div class="header-logo">
              </div>
                  <div class="m-menu-close">
                  <button class="menubutton"></button>
                  </div>
              </div>
              <div class="m-gnb">
              <button class="accordion m-mainmenu">회사소개</button>
              <div class="panel m-submenu">
                  <div><a href="">· 회사소개</div>
                  <div><a href="">· 사회공헌</div>
              </div>
              <button class="accordion m-mainmenu">주관이력</button>
              <div class="panel m-submenu">
                  <div><a href="">· 입주박람회</div>
                  <div><a href="">· 주관이력</div>
                  <div><a href="">· 박람회 사진</div>
              </div>
              <button class="accordion m-mainmenu">협력사조회</button>
              <div class="panel m-submenu">
                  <div><a href="">· 협력사 조회</div>
              </div>
              <button class="accordion m-mainmenu">문의하기</button>
              <div class="panel m-submenu">
                  <div><a href="">· 협력업체문의</div>
                  <div><a href="">· 입주박람회문의</div>
                  <div><a href="">· A/S접수</div>
              </div>
              </div>
              <div class="m-back"><img src="../img/m-menu-background.png" alt=""></div>
          </div>
      </div>
      <div class="sub-top">
        <h1 class="sub-top-title">협력사 조회</h1>
        <p class="sub-top-title-explain">아트젠과 함께하는 최고의 업체들</p>  
        <div class="sub-top-visual">
          <div class="visual-title-wrap">
            <p class="visual-title">협력사 조회</p>
            <p class="visual-explain">아트젠은 고객님의 합리적인 구매를 위해 연구하고 노력합니다.</p>
          </div>
        </div>
      </div> 
      <div class="contents1">
        <div class="sub-contents-title-wrap">
          <div class="sub-contents-title">
            <div class="title-decoration"></div>
            <p class="sub-title">협력사 조회</p>
            <p class="sub-title-explain">아트젠과 함께하는 최고의 업체들</p>
          </div>
        </div>
        <!-- <img src="../img/test.png" alt="" class="test"> -->
        <ul class="filter-list">
          <li>
            <input type="radio" name="item" id="rilter-01"> 
            <label for="rilter-01">가구</label> 
          </li>
          <li>
            <input type="radio" name="item" id="rilter-02">
            <label for="rilter-02">가전</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-03">
            <label for="rilter-03">단열필름</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-04">
            <label for="rilter-04">사전점검</label>
          </li> 
          <li>
            <input type="radio" name="item" id="rilter-05">
            <label for="rilter-05">선반</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-06">
            <label for="rilter-06">선없는 TV</label>
          </li> 
          <li>
            <input type="radio" name="item" id="rilter-07">
            <label for="rilter-07">시스템 에어컨</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-08">  
            <label for="rilter-08"> 새집 증후군</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-09">
            <label for="rilter-09">안전망 / 촘촘망</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-10">
            <label for="rilter-10">유리막 코팅</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-11">
            <label for="rilter-11">음식물 처리기</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-12">
            <label for="rilter-12">인덕션</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-13">
            <label for="rilter-13">인테리어</label>
          </li>  
          <li>
            <input type="radio" name="item" id="rilter-14">
            <label for="rilter-14">입주청소</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-15">
            <label for="rilter-15">조명</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-16">
            <label for="rilter-16">줄눈</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-17">
            <label for="rilter-17">중문</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-18">
            <label for="rilter-18">층간소음매트</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-19">
            <label for="rilter-19">커튼 및 블라인드</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-20">
            <label for="rilter-20">탄성코트</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-21">
            <label for="rilter-21">포장이사</label>
          </li>
          <li>
            <input type="radio" name="item" id="rilter-22">
            <label for="rilter-22">화재보험</label>
          </li>
        </ul> 
        <ol class="filter-company">
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센휘센휘센휘센dadfaadfadfadfdfadfadfdf센휘센휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
          <li>
            <div class="company-logo"></div>
            <div class="company-name">휘센</div>
          
        </ol>
        <div class="button-wrap">
          <button class="company-register">업체 등록하기</button>
          <button class="company-register company-view-more">더보기</button>
        </div>
      </div>
      <div class="footer">
        <div class="footer-top">
          <div class="logo"></div>
          <div>
            <a href="">개인정보처리방침
            <a href="">이용약관
          </div>
        </div>
        <div class="footer-bottom">
          <div>
            <div>(34161)  대전광역시 유성구 복용북로 33번길 1  TEL : 042-825-6490</div>
            <div>대표 이도엽  사업자등록번호 193-88-01901</div>
          </div>
          <div>Copyright ⓒ 2022 ARTZEN All Rights Reserved.</div>
        </div>
      </div>
</body>
</html>
