<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.az.asBoard.dao.AsBoardMapper">
	
	<resultMap id="asboardVo" type="com.az.asBoard.vo.AsBoardVO">	
		<result property="asIdx" column="as_idx"/>
		<result property="asName" column="as_name"/>
		<result property="asPw" column="as_pw"/>
		<result property="asApt" column="as_apt"/>
		<result property="asDetail" column="as_detail"/>
		<result property="asPhone" column="as_phone"/>
		<result property="asItem" column="as_item"/>
		<result property="asStore" column="as_store"/>
		<result property="asDate" column="as_date"/>
		<result property="asTitle" column="as_title"/>
		<result property="asContent" column="as_content"/>
		<result property="asStatus" column="as_status"/>
	</resultMap>
	
<!-- 	게시글 검색	//게시판보기 -->
<!-- 	<select id="selectAsBoard" resultMap="asboardVo"> -->
<!-- 		select -->
<!-- 			 * -->
<!-- 		from asboard -->
<!-- 		where as_read = 'Y' -->
		
<!-- 	</select> -->
	
<!-- 	리스트 페이징처리 -->
<select id="listCriteria" resultMap="asboardVo">
		<![CDATA[
		select
		    *
		from
		    asboard
		where as_read = 'Y'
		limit #{pageStart}, #{perPageNum}
		]]>
</select>

<select id="listCountCriteria" resultType="int">
	select count(*) as totalCount from asboard

</select>

	
	
	<insert id="writeAs" parameterType="com.az.asBoard.vo.AsBoardVO">
		insert into asboard(
			as_name,as_pw,as_apt,as_detail,as_phone,as_item,
			as_store,as_title,as_content,as_status,as_read,as_count
		) values (			
			#{asName},#{asPw},#{asApt},#{asDetail},#{asPhone},#{asItem},
			#{asStore},#{asTitle},#{asContent},"N","Y",0
		)
	</insert>
	
<!-- 	상세페이지보기 -->
	<select id="asBoardDetail" resultMap="asboardVo">
		select * from asboard
		where as_idx = #{asIdx}
	</select>
	
<!-- 	비밀번호 확인 -->
	
	<select id="realPass" resultMap="asboardVo">
		select as_pw from asboard
		where as_idx = #{asIdx}
	</select>
<!-- 	수정 -->
	<update id="asUpdate" parameterType="com.az.asBoard.vo.AsBoardVO">
		update asboard 
			set 
				as_name = #{asName},
				as_pw = #{asPw},
				as_apt = #{asApt},
				as_detail = #{asDetail},
				as_phone = #{asPhone},
				as_item = #{asItem},
				as_store = #{asStore},
				as_date = CURRENT_TIMESTAMP,
				as_title = #{asTitle},
				as_content = #{asContent}
			where as_idx = #{asIdx}
		
		
	</update>
	

<!-- 	글삭제	 -->
	<update id="asBoardDelete" parameterType="com.az.asBoard.vo.AsBoardVO">
		update asboard 
		set as_read = "N"
		where as_idx = #{asIdx}
	</update>
	
	<!-- 	질문처리	 -->
	<update id="asBoardAnswer" parameterType="com.az.asBoard.vo.AsBoardVO">
		update asboard 
		set as_status = "Y"
		where as_idx = #{asIdx}
	</update>
	
<!-- 	조회수증가 -->
<update id="asCount" parameterType="com.az.asBoard.vo.AsBoardVO">
		update asboard
        set as_count = as_count + 1
        where as_idx  = #{asIdx}
</update>
	
	
	
	
	<!--회원등록  -->
<!-- 	<insert id="insertBoard" parameterType="com.az.asBoard.vo.AsBoardVO"> -->
<!-- 		insert into member (mem_name,mem_id,mem_pw,mem_email,mem_phone) -->
<!-- 		values(#{memName},#{memId},#{memPw},#{memEmail},#{memPhone}) -->
<!-- 	</insert> -->
	
<!--   <update id="updateMember"  parameterType="com.az.board.vo.BoardVO" > -->
<!--   </update> -->


<!--   <update id="deleteMember"  parameterType="com.az.board.vo.BoardVO" > -->
<!--   </update> -->


  
  
</mapper>