<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.az.asBoard.dao.AsBoardMapper">
	
	<resultMap id="asboardVo" type="com.az.asBoard.vo.AsBoardVO">	
		<result property="asIdx" column="as_idx"/>
		<result property="asName" column="as_name"/>
		<result property="asPw" column="as_pw"/>
		<result property="asApt" column="as_apt"/>
		<result property="asDetail" column="as_detail"/>
		<result property="asPhone" column="as_phone"/>
		<result property="asItem" column="as_item"/>
		<result property="asStore" column="as_store"/>
		<result property="asDate" column="as_date"/>
		<result property="asTitle" column="as_title"/>
		<result property="asContent" column="as_content"/>
	</resultMap>
	
<!-- 	게시글 검색	//게시판보기 -->
	<select id="selectAsBoard" resultMap="asboardVo">
		select
			 *
		from asboard
<!-- 		where type =  -->
	</select>
	
	<insert id="writeAs" parameterType="com.az.asBoard.vo.AsBoardVO">
		insert into asboard(
			as_name,as_pw,as_apt,as_detail,as_phone,as_item,
			as_store,as_date,as_title,as_content
		) values (			
			#{asName},#{asPw},#{asApt},#{asDetail},#{asPhone},#{asItem},
			#{asStore},#{asDate},#{asTitle},#{asContent}
		)
	</insert>
	
	<select id="asBoardDetail" resultMap="asboardVo">
		select * from asboard
		where as_idx = #{asIdx}
	
	</select>
	<!--회원등록  -->
<!-- 	<insert id="insertBoard" parameterType="com.az.asBoard.vo.AsBoardVO"> -->
<!-- 		insert into member (mem_name,mem_id,mem_pw,mem_email,mem_phone) -->
<!-- 		values(#{memName},#{memId},#{memPw},#{memEmail},#{memPhone}) -->
<!-- 	</insert> -->
	
<!--   <update id="updateMember"  parameterType="com.az.board.vo.BoardVO" > -->
<!--   </update> -->


<!--   <update id="deleteMember"  parameterType="com.az.board.vo.BoardVO" > -->
<!--   </update> -->


  
  
</mapper>