/* * {border: 1px solid red;} */
html {
    font-size: 62.5%;
    line-height: 1.285;
  }
body {
    font-size: 1.6rem;
}  
input:focus {
    outline: none;
}  
/* ---------------------------sub top 타이틀---------------------- */
.sub-top {
 width: 1364px;  
 margin: 0 auto; 
 /* height: 140px; */
 margin-top: 91px;
}
.sub-top > .sub-top-title  {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 48px;
    color: #137989; 
}
.sub-top > .sub-top-title-explain {
    font-size: 2.4rem;
    color: #333333;
    margin-bottom: 60px;
}
.sub-top > .sub-top-visual {
   position: relative; 
   width: 1364px;
   height: 422px;
   margin-bottom: 152px;
   background: url(../img/temp--img1.jpg);
   background-size: cover; 
}
.sub-top  .visual-title-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;   
}
.sub-top  .visual-title-wrap > .visual-title {
    font-size: 4.2rem;
    font-weight: bold;
    color: #fff;
}
.sub-top  .visual-title-wrap > .visual-explain {
    font-size: 2rem;
    color: #fff;     
}
/* ------------------------contents---------------------- */
.contents1 {
    width: 1364px;
    height: auto;
    margin: 0 auto;
}
.contents1 .sub-contents-title {
    position: relative;
}
.contents1  .sub-title {
    position: absolute;
    top: 0;
    left: 1.5%;
    font-size: 4.2rem;
    font-weight: bold;
    margin-bottom: 18px; 
    color: #1A1311;
}
.contents1  .title-decoration {
    width: 44px;
    padding-top: 44px;
    background: url(../img/decoration.png) no-repeat;
}
.contents1  .sub-title-explain {
    width: 100%;
    font-size: 2.2rem;
    margin-top: 41px;
    color: #303030;
}
.secreat-page {
   text-align: center;
   margin-top: 50px;

}
.secreat-page > p:nth-child(1) {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.secreat-page > p:nth-child(2) {
    color: rgb(19, 121, 137);
    font-weight: 500;
}
.contents1 #fwrite {
    margin-top: 69px;

} 
.form-write  {
   position: relative;
   height: 80px;
}

.form-write > .form-write-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}


.form-write  label{
    line-height: 4.6rem;
    margin-right: 10px;
    color: #1A1311;
}

.form-write  input {
    display: block;
    width: 70%;
    padding: 15px 8px;
    border: 1px solid #BABABA;
    margin-bottom: 20px;
}

.form-write  label .star {
    color: #FF5353;
}
.form-button {
    margin: 100px 0 165px;
    text-align: center;
}

.form-button > button {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    color: #137989;
    padding: 1.3% 6%;
    border: 1px solid #137989;
    border-radius: 398px 398px 0 398px;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 7%;
}
.form-button > a {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    color: #137989;
    padding: 1.3% 7%;
    border: 1px solid #137989;
    border-radius: 398px 398px 0 398px;
}

/* -------------------------footer------------------------------ */
/* .footer {
    width: 100%;
    height: 260px;
    line-height: 260px;
    background: #EFEFEF;
    text-align: center;
    font-size: 30px;
} */


/* ------------------------반응형----------------------------- */
@media (max-width: 960px) {
    body {
        overflow-x: hidden;
    }
    .sub-top {
        width: 100%;
    }
    .sub-top .sub-top-visual {
        width: 100%;
    }
    .sub-top .visual-title-wrap > .visual-title {
        width: 100%;
    
    }
    .sub-top .visual-title-wrap {
        width: 100%;
    }
    .sub-top .visual-title-wrap > .visual-explain {
        width: 100%;
    }
    .contents1 {
        width: 100%;
    }
    .secreat-page > p:nth-child(2) {
        width: 100%;
    }
    
}
@media (max-width: 700px) {
    .form-write > .form-write-in {
        width: 100%;
    }
    .form-button > button {
        font-size: 1.4rem;
        padding: 3% 10%;
    }
    .form-button > a {
        font-size: 1.4rem;
        padding: 3% 10%;
    }
}
@media (max-width: 360px) {
    
    .sub-top > .sub-top-title {
        width: 100%;
        font-size: 39px;
        margin-bottom: 29px;
        padding: 0 32px;
    } 
    .contents1 .sub-contents-title {
        width: 100%;
    }
    .sub-top .sub-top-title-explain {
        font-size: 15px;
        margin-bottom: 30px;
        padding: 0 32px;
    }
    .sub-top > .sub-top-visual {
        height: 270px;
        margin-bottom: 120px;
    }
    .contents1  .title-decoration {
        width: 30px;
        padding-top: 30px;
        background: url(../img/decoration.png) no-repeat;
        background-size: cover;
    }
    .sub-top .visual-title-wrap > .visual-title {
        font-size: 3.2rem;
        margin-bottom: 5px;  
    
    }
    .sub-top .visual-title-wrap > .visual-explain {
        font-size: 1.6rem;
        font-weight: normal;
        margin-bottom: 30px;
    }
    .contents1 {
        padding-left: 32px;
        padding-right: 32px;
    }
    .contents1 .sub-title  {
        font-size:2.8rem;
    }
    .contents1 .sub-title-explain {
        font-size: 1.6rem;
    }
 
    .form-write > .form-write-in {
        width: 100%;
    }
    .form-button {
        width: 100%;
        margin: 59px 0 160px;
    }
    
    .form-button > button {
        font-size: 1.4rem;
        padding: 5% 12%;
        margin-right: 14px;
       
    }
    .form-button > a {
        font-size: 1.4rem;
        padding: 5% 12%;
       
    }
 
}
@media (max-width: 318px) {
    .sub-top > .sub-top-title {
        padding: 0 16px;
    } 
    .sub-top  .sub-top-title-explain {
        padding: 0 16px;
    }
    .contents1 {
        padding-left: 16px;
        padding-right: 16px;
    }
    .form-button > button {
        padding: 4% 10%;

    }
    .form-button > a {
        padding: 4% 10%;
    }
    .form-write input {
        width: 68%;
    }

}
@media (max-width: 280px) {

    .sub-top .visual-title-wrap > .visual-explain {
        width: 75%;
        margin: 0 auto;
    }
    
    .secreat-page > p:nth-child(2) {
        width: 81%;
        margin: 0 auto;
    }
    
    .form-button {
        padding: 0;
    }
    
}
